.hornedBeast {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

img {
  max-width: 500px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
