.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 0.5em;
}

@media (min-width: 640px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
  }
}

@media (min-width: 1536px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
  }
}
