* {
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  background-color: rgb(14, 14, 21);
  color: whitesmoke;
  text-align: center;
}

p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

img {
  width: 100%;
  display: block;
}
